<div class="button-row">
  <button mat-button routerLink="./">Home</button>
  <!-- <mat-menu [overlapTrigger]="false" #workers>
    <button mat-menu-item [routerLink]="['./']">List</button>
  </mat-menu> -->

  <button mat-button [matMenuTriggerFor]="workers">Workers</button>
  <mat-menu [overlapTrigger]="false" #workers>
    <button mat-menu-item [routerLink]="['workers','list']">List</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="animals">Animals</button>
  <mat-menu [overlapTrigger]="false" #animals>
    <button mat-menu-item [routerLink]="['animals',{name:'udi', last:'mazor'}]">List</button>
  </mat-menu>

</div>
