<div style="display: flex; flex-flow: column wrap; margin-left:4px">
  <form [formGroup]="frmAnimal">
    <div class="table-row">
      <label>Current animal id is: </label>
      <mat-form-field>
        <input type="text" formControlName="id" color="primary" placeholder="Current animal Id" matInput autocomplete="false"
          [value]="currentAnimal?.id">
      </mat-form-field>
    </div>


    <div class="table-row">
      <label> Current Animal name is: </label>
      <mat-form-field>
        <input type="text" matInput placeholder="Animal name" [value]="currentAnimal?.name">
      </mat-form-field>
    </div>

    <div class="table-row">
      <label>The animal familiy is: </label>
      <mat-form-field>
        <input type="text" matInput placeholder="Animal's family" [value]="currentAnimal?.family">
      </mat-form-field>
    </div>

    <div>
      <button mat-button color="primary" [disableRipple]="true" style="margin-right: auto">Save</button>
    </div>
  </form>
</div>

{{frmAnimal.value | json}}
