<div style="display: flex; flex-flow: column wrap; margin-left:4px">
  <form [formGroup]="frmAnimal">
    <div class="table-row">
      <label>Current animal id is: </label>
      <mat-form-field>
        <input type="text" formControlName="id" color="primary" placeholder="Current animal Id" matInput autocomplete="false">
      </mat-form-field>
    </div>


    <div class="table-row">
      <label> Current Animal name is: </label>
      <mat-form-field>
        <input type="text" formControlName="name" matInput placeholder="Animal name">
      </mat-form-field>
    </div>

    <div class="table-row">
      <label>The animal familiy is: </label>
      <mat-form-field>
        <input type="text" formControlName="family" matInput placeholder="Animal's family">
      </mat-form-field>
    </div>

    <div>
      <button mat-button color="primary" [disableRipple]="true" style="margin-right: auto" [disabled]="frmAnimal.invalid"
        (click)="updateAnimal()">Save</button>
        <button mat-button color="primary" [disableRipple]="true" style="margin-right: auto" [disabled]="frmAnimal.invalid"
        (click)="deleteAnimal()">Delete</button>
    </div>
  </form>
</div>

{{frmAnimal.value | json}}
