<form [formGroup]="frmFilterTest">
  <mat-form-field>
    <mat-select formControlName="items" [placeholder]="placeholder" [multiple]="true" [disableOptionCentering]="true">
      <ngx-mat-select-search [formControl]="optionFilter" [noEntriesFoundLabel]="noMatchesMessage"
      [disableInitialFocus]="false" [clearSearchInput]="true" [placeholderLabel]="searchPlaceholder"></ngx-mat-select-search>
      <mat-option *ngFor="let item of filteredOptions" [value]="item.id" >{{item.value}}</mat-option>
    </mat-select>
  </mat-form-field>
</form>

